<!-- sidebar navigation -->
  <nav>
    <div class="nav left-nav nav-pills border-bottom border-end" id="nav-tab1" role="tablist" style="background-color: white; padding: 3px;">
      <button class="nav-link show active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true" style="width: 50%;">
          Chats
          <span id="counter-total-holder" class="badge bg-secondary"></span>
      </button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" style="width: 50%;">Contacts</button>
    </div>
  </nav>

<!-- end sidebar navigation -->
