
<!-- left panels container -->
<div id="left-panels" class="tab-content pt-4" id="nav-tabContent" style="overflow:auto; background-color:white;  height: calc(100vh - 147px);">
  <!-- chats panel -->
  <div class="tab-pane show active border-top" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <!-- chat panel body -->
      <div class="list-group" id="nav-chat" role="tablist">
        <div class="body"></div>
        <div id="spinnerLeftPanelChats" class="d-flex justify-content-center align-items-center w-100" style="height: calc(100vh - 147px);">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        </div>
        <!-- chats tabs -->
          <!-- search tabs DISPLAY NONE -->
          <button class="list-group-item rounded-0 chat-tab" id="nav-tab-group-search" data-bs-toggle="tab" data-bs-target="#nav-pane-group-search" type="button" role="tab" aria-controls="nav-pane-group-search" aria-selected="true" style="display:none;"></button>
          <!-- search tabs DISPLAY NONE -->
          <!-- end chats tabs -->
      </div>
      <!-- end chat panel body -->

      <!-- chat panel footer -->
      <div class="d-flex justify-content-center border p-2" style="position: fixed; bottom:0px; background-color: white; width:280px; z-index: 3;">
            <button class="btn btn-primary btn-sm" type="submit" onclick="openContacts()">New chat</button>
      </div>
      <!-- end chat panel footer -->

  </div>
  <!-- end chats panel -->


  <!-- contacts panel -->
  <div class="tab-pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

  </div>

      <!-- end contacts panel acordions -->
      <!-- chat panel footer -->
      <div class="d-flex justify-content-center border p-2" style="position: fixed; bottom:0px; background-color: white; width:280px; z-index: 3;">
          <button  id="open-search"  class="btn btn-primary btn-sm" type="submit" onclick="openSearch()">Find contact</button>
      </div>
      <!-- end chat panel footer -->

          </div>


<!-- chats panel -->
<div class="tab-pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
asd




    <div id="left-footer" class="border-end"></div>
</div>

</div>
