<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>

  <div id='mygroups'></div>

  <style>
    #templates{
      display: none
    }


  </style>

  <div id="templates">
    <div id="chat-content">
      <div id="chat-title"></div>
      <div id="chat-nav-container-top"></div>
      <div id="chat-log-container" style="background-color: blue; height:200px; width: 300px; overflow: scroll;">
      <ul id="chat-log-list"></ul>
      </div><br>
      <div id="chat-nav-container-bottom"></div>
    </div>

    <!-- pruivate navigtion -->

    <div id="private-chat-nav-top-active">
      <input id="chat-block" type="button" value="Block contact" onclick="blockGroup(this)">
      <input id="chat-close" type="button" value="Delete" onclick="deleteGroup(this)">
    </div>

    <div id="private-chat-nav-bottom-active">
        <input id="chat-input" type="text"><br>
        <input id="chat-submit" type="button" value="Send" onclick="send(this)">
    </div>

    <div id="private-chat-nav-top-inactive">
      <input id="chat-block" type="button" value="Unblock contact" onclick="unBlockGroup(this)">
      <input id="chat-close" type="button" value="Delete" onclick="deleteGroup(this)">
    </div>

    <div id="private-chat-nav-bottom-inactive">

    </div>

    <!-- group navigtion -->


    <div id="group-chat-nav-top-inactive">
        <input id="chat-close" type="button" value="Delete" onclick="deleteGroup(this)">
        <input id="chat-leave" type="button" value="Leave group" onclick="leaveGroup(this)">
    </div>

    <div id="group-chat-nav-top-active">
        <input id="chat-close" type="button" value="Delete" onclick="deleteGroup(this)">
        <input id="chat-leave" type="button" value="Leave group" onclick="leaveGroup(this)">
    </div>

    <div id="group-chat-nav-top-left">
        <input id="chat-close" type="button" value="Delete" onclick="deleteGroup(this)">

    </div>

    <div id="group-chat-nav-bottom-inactive">
      <ul id="invite-content-list"></ul>
      </div>
    <input id="chat-invite" type="button" value="Invite" onclick="addToGroup(this)">

    <div id="group-chat-nav-bottom-active">
      <input id="chat-input" type="text"><br>
      <input id="chat-submit" type="button" value="Send" onclick="send(this)">

    </div>

    <div id="group-chat-nav-bottom-active-admin">
      <input id="chat-input" type="text"><br>
      <input id="chat-submit" type="button" value="Send" onclick="send(this)">
      <div id="invite-content-container">
      <ul id="invite-content-list"></ul>
      </div>
      <input id="chat-invite" type="button" value="Invite" onclick="addToGroup(this)">

      <div id="remove-content-container">
      <ul id="remove-content-list"></ul>
      </div>
      <input id="chat-remove" type="button" value="Remove" onclick="removeFromGroup(this)">

      <div id="add-admin-content-container">
      <ul id="add-admin-content-list"></ul>
      </div>
      <input id="add-admin-invite" type="button" value="Make admin" onclick="makeAdmin(this)">

      <div id="remove-admin-content-container">
      <ul id="remove-admin-content-list"></ul>
      </div>
      <input id="remove-admin-invite" type="button" value="Remove admin" onclick="removeAdmin(this)">
    </div>



      <!--  -->

    <ul id="search-content-item">
        <div id="search-content-username"></div>
        <input id="search-content-username-add" type="button" value="add to contacts" onclick="addContact(this)">
    </ul>

    <ul id="contacts-content-item">
      <div id="contacts-content-username"></div>
      <input id="contacts-content-username-remove" type="button" value="delete" onclick="removeContact(this)">
      <input id="contacts-content-username-start-chat" type="button" value="start chat" onclick="newGroup(this, 'private')">
    </ul>

    <ul id="group-content-item">
      <div id="group-content-username"></div>
      <input id="group-content-username-select" class="group-input" type="checkbox">
    </ul>



    <ul id="invite-content-item">
      <div id="invite-content-username"></div>
      <input id="invite-content-username-select" class="invite-input" type="checkbox">
    </ul>

    <ul id="remove-content-item">
      <div id="remove-content-username"></div>
      <input id="remove-content-username-select" class="remove-input" type="checkbox">
    </ul>

    <ul id="add-admin-content-item">
      <div id="add-admin-content-username"></div>
      <input id="add-admin-content-username-select" class="add-admin-input" type="checkbox">
    </ul>

    <ul id="remove-admin-content-item">
      <div id="remove-admin-content-username"></div>
      <input id="remove-admin-content-username-select" class="remove-admin-input" type="checkbox">
    </ul>

    <li id="tab" class="nav-item" role="presentation">
      <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group" type="button" role="tab" aria-controls="group" aria-selected="false">Home</button>
    </li>

    </div>
  </div>

<script type="text/javascript">

$('.nav-tabs a').click(function () {
    $(this).tab('show');
    $("<a>").data("target", $(this).data("second-tab")).tab("show")
})

    var groups = []
    var open_groups = []
    var contacts = []

    var online_users = [];
    var chats = [];
    var socket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/sendreceive/'
        + '{{ user }}'
        + '/'
    );

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data['type'] == 'ping'){
            socket.send(JSON.stringify({
                  'type': 'ping', 'from': data['from']
              }));
            }
            if (data['type'] == 'pong'){
              socket.send(JSON.stringify({
                  'type': 'pong', 'from': data['from']
              }));
            }

          if (data['type'] == 'receive_groups_of_self'){
              for (var group of data['message']){
                  updateGroups(group)
              }
          }



            if (data['type'] == 'online_contacts'){
              //console.log(data)
                online_users = [];
                for (let i = 0; i < data['message'].length; i++) {
                  online_users.push(data['message'][i].name);
                }
                document.getElementById('online_contacts').innerHTML = 'online: ' + online_users
            }

            if (data['type'] == 'offline'){
                socket.send(JSON.stringify({
                    'type': 'offline', 'from': data['from']
                }));
            }


            if (data['type'] == 'message'){
                //console.log('the message',data)
                console.log('groups!!', groups)
                if (data['from'] != '{{ user.usernam }}')
                {
                  //  console.log(data['from'],'send you a message')
                }
                pk = data['to']
                current_group = getGroup(pk)

                current_membership = getMembership(current_group)
                console.log('my currennt membership', current_membership)
                if (current_membership['status'] == 'inactive' || current_membership['status'] == 'deleted'){
                    current_membership['status'] = 'active';
                    updateMembershipStatus(pk, 'active');
                    console.log('current_group', current_group)
                    addGroup(current_group);
                    addMessage(data['to'],data['message'])
                } else {
                    addMessage(data['to'],data['message'])
                }
            }


            if (data['type'] == 'membership_has_been_updated'){
              console.log('update')
                group = data['message'];
                pk = group['room']['pk'];
                old_group = getGroup(pk);

                new_membership = getMembership(group);
                if (old_group != false){
                  old_membership = getMembership(old_group);

                  // Check if your status has been updated
                  if (old_membership['status'] != new_membership['status']){
                    console.log('my membership changed')
                      if(new_membership['status'] == 'active' || new_membership['status'] == 'blocked'){

                          if (old_membership['status'] != 'left'){
                            addGroup(data['message']);
                          }

                          if (old_membership['status'] == 'left'){
                            setNavigation(group)
                          }

                          setNavigation(group)
                      } if (new_membership['status'] == 'left'){
                        setNavigation(group)
                      }
                  }
                  // Check if your role has been updated
                  if (old_membership['role'] != new_membership['role']){
                        if(new_membership['status'] == 'active'){
                              setNavigation(group)
                      }
                  }

                } else {
                    if (data['from'] == '{{ user }}'){

                        new_membership['status'] = 'active'
                        updateMembershipStatus(pk, 'active');
                        addGroup(data['message']);

                    }
                }

                updateGroups(group);

                membership = getMembership(group)
                if (group['room']['type'] == 'group'){
                    if (membership['status'] == 'active'){
                        setGroupTitle(group)
                        if (membership['role'] == 'admin'){
                          setAdminPanel(group)
                        }
                    }
                  }
            }


            if (data['type'] == 'search_results'){
                searchResults(data);
            }

        };

        function updateGroups(group){
          if (getGroup(group['room']['pk']) == false){
                groups.push(group)
                console.log('added group')
          } else {
              console.log('updated group')
              replaceGroup(group)
          }
          socket.send(JSON.stringify({
              'type': 'add_group_to_consumer', 'message': group
          }));

        }

        function replaceGroup(group){
          var updatedGroup = group
          for (let i = 0; i < groups.length; i++) {
              if (groups[i]['room']['pk'] == updatedGroup['room']['pk']){
                  groups.splice(i, 1);
                  groups.push(updatedGroup);
                  break;
              }
          }

        }


        function blockGroup(self){
            var pk = self.id.replace('chat-block', "");
            group = getGroup(pk)
            membership = getMembership(group)
            membership['status'] = 'blocked';
            updateMembershipStatus(pk, 'blocked');
            setNavigation(group);
        }

        function unBlockGroup(self){
            var pk = self.id.replace('chat-block', "");
            group = getGroup(pk)
            membership = getMembership(group)
            membership['status'] = 'active';
            updateMembershipStatus(pk, 'active');
            setNavigation(group);
        }

        function addContactToGroup(self){

        }


        function searchResults(data){
            var container = document.getElementById("search-content-list");
            container.innerHTML = '';
            for (var message of data['message']) {
              template = getTemplate("search-content-item", message);
              container.appendChild(template);
              document.getElementById("search-content-username" + message).innerHTML = message;
            }
        };

        function addContact(self){
            var username = self.id.replace('search-content-username-add', "");
            addContactToDatabase(username);
            addContactToList(username);
        }

        function addContactToDatabase(username){
            socket.send(JSON.stringify({
              'type': 'add_contact', 'message': username
            }));
        }

        function addContactToList(username){
            var container = document.getElementById("contacts-content-list");
            template = getTemplate("contacts-content-item", username);
            container.appendChild(template);
            document.getElementById("contacts-content-username" + username).innerHTML = username;
        }

        function removeContact(self){
            var username = self.id.replace('contacts-content-username-remove', "");
            document.getElementById("contacts-content-item" + username).remove();
            removeContactFromDatabase(username);
        }




        function addContactToGroup(username){
            var container = document.getElementById("group-content-list");
            template = getTemplate("group-content-item", username);
            container.appendChild(template);
            document.getElementById("group-content-username" + username).innerHTML = username;
        }

        function getSelected(string){
          selected_members = []
          var test = document.getElementsByClassName(string + '-input');
            for (var item of test) {
                if (item.id != string + '-content-username-select'){
                  var check = document.getElementById(item.id).checked;
                  var username = item.id.replace(string + '-content-username-select', "");
                  if (check == true){
                    selected_members.push({'name':username})
                  }

                }
            }
          return selected_members
        }

        function removeFromGroup(self){
            var string = 'remove';
            var room = self.id.replace('chat-remove', "");
            members = getSelected(string)
            if (members.length != 0){
              socket.send(JSON.stringify({
                'type': 'remove_contact_from_group', 'message' : {'room': {'pk':room, 'type': 'group'}, 'members': members}, 'from':'{{ user.usename }}'
              }));
            }
        }

        function addToGroup(self){
            var string = 'invite';
            var room = self.id.replace('chat-invite', "");
            members = getSelected(string)
            if (members.length != 0){
                socket.send(JSON.stringify({
                  'type': 'add_contact_to_group', 'message' : {'room': {'pk':room, 'type': 'group'}, 'members': members}, 'from':'{{ user.usename }}'
                }));
            }
        }

        function makeAdmin(self){
            var string = 'add-admin';
            var room = self.id.replace('add-admin-invite', "");
            members = getSelected(string)
            if (members.length != 0){
              socket.send(JSON.stringify({
                'type': 'make_contact_group_admin', 'message' : {'room': {'pk':room, 'type': 'group'}, 'members': members}, 'from':'{{ user.usename }}'
              }));
            }
        }

        function removeAdmin(self){
            var string = 'remove-admin';
            var room = self.id.replace('remove-admin-invite', "");
            members = getSelected(string)
            if (members.length != 0){
              socket.send(JSON.stringify({
                'type': 'remove_contact_group_admin', 'message' : {'room': {'pk':room, 'type': 'group'}, 'members': members}, 'from':'{{ user.usename }}'
              }));
            }
        }


        function newGroup(self, type){
            if (type == 'group'){
            group_members = []
            var test = document.getElementsByClassName('group-input');
            for (var item of test) {
                if (item.id != "group-content-username-select"){
                  var check = document.getElementById(item.id).checked;
                  var username = item.id.replace('group-content-username-select', "");
                  if (check == true){
                    group_members.push({'name': username})
                  }

                }
            }


            }
            else if (type == 'private'){
              var member = self.id.replace('contacts-content-username-start-chat', "");
            group_members = [{'name':member}]


            }
            if (group_members.length != 0){
              socket.send(JSON.stringify({
                'type': 'create_group', 'message' : {'room': {'type':type}, 'members': group_members}
              }));
            }
        }



        function removeContactFromDatabase(username){
          socket.send(JSON.stringify({
            'type': 'remove_contact', 'message': username
          }));
        }

        function send(self){

            var pk = self.id.replace('chat-submit', "");
            //  console.log('send to', self);
            var message = document.getElementById('chat-input'+pk).value;
            document.getElementById('chat-input'+pk).value = '';
            socket.send(JSON.stringify({
                'type': 'message', 'message': message, 'from': '{{ user }}', 'to':pk
              }));
        }

        function getGroup(pk){

            for (var group of groups){
              if (group['room']['pk'] == pk){
                  return group
              }
            } return false
        }

        function deleteGroup(self){
            var pk = self.id.replace('chat-close', "");
            var idSuffix = pk;
            document.getElementById("chat-content"+ idSuffix).remove()
            group = getGroup(pk)
            membership = getMembership(group)
            if (membership['status'] == 'blocked'){
                membership['status'] = 'blocked_and_deleted';
                updateMembershipStatus(pk, 'blocked_and_deleted');
            }  else if (membership['status'] == 'left'){
                membership['status'] = 'left_and_deleted';
                updateMembershipStatus(pk, 'left_and_deleted');
            }

              else {
                membership['status'] = 'deleted';
                updateMembershipStatus(pk, 'deleted');
            }


        }

        function leaveGroup(self){
          var pk = self.id.replace('chat-leave', "");
          group = getGroup(pk)
          membership = getMembership(group)
          membership['status'] = 'left';
          updateMembershipStatus(pk, 'left');
          setNavigation(group);
        }


        function addGroup(group){

            idSuffix = group['room']['pk']




            template = getTemplate("chat-content", idSuffix);
            var container = document.getElementById("chat-content-container")
            container.appendChild(template);


            //setMenu(group)
            setNavigation(group);
            setGroupTitle(group);

            membership = getMembership(group)
            if (group['room']['type'] == 'group'){
                if (membership['role'] == 'admin'){
                  setAdminPanel(group)

                }

            }


            if (typeof group['messages'] !== 'undefined') {
                for (var message of group['messages']) {
                    addMessage(idSuffix,message);
                }
            }


        };


        function updateMembershipStatus(pk, status){
          socket.send(JSON.stringify({
            'type': 'update_membership_of_self', 'message': {'pk':pk,'status':status}
          }));
        }

        function getMembership(group){
            for (var member of group['members']){
                if (member['name'] == '{{ user }}'){
                    return member['membership']
                }
            }
            return false
        }

        function setMenu(group){
            idSuffix = group['room']['pk']
            tabTemplate = getTemplate("tab", idSuffix);
            button = tabTemplate.getElementsByClassName('nav-link')[0];
            button.setAttribute("aria-controls", "group"+idSuffix);
            button.setAttribute("data-bs-target", "#group"+idSuffix);
            tabContainer = document.getElementById("myGroupTabs")
            tabContainer.appendChild(tabTemplate);

        }

        function setNavigation(group){
            idSuffix = group['room']['pk']
            var navContainerTop = document.getElementById("chat-nav-container-top" + idSuffix);
            var navContainerBottom = document.getElementById("chat-nav-container-bottom" + idSuffix);
            navContainerTop.innerHTML = '';
            navContainerBottom.innerHTML = '';
            membership = getMembership(group);
            if (group['room']['type'] == 'private'){
                if (membership['status'] == 'active'){
                      navTemplateTop = getTemplate("private-chat-nav-top-active", idSuffix);
                      navTemplateBottom = getTemplate("private-chat-nav-bottom-active", idSuffix);
                } else {
                      navTemplateTop = getTemplate("private-chat-nav-top-inactive", idSuffix);
                      navTemplateBottom = getTemplate("private-chat-nav-bottom-inactive", idSuffix);
                }
            } else if (group['room']['type'] == 'group'){
                if (membership['status'] == 'active'){
                      navTemplateTop = getTemplate("group-chat-nav-top-active", idSuffix);
                      if (membership['role'] == 'admin'){
                          navTemplateBottom = getTemplate("group-chat-nav-bottom-active-admin", idSuffix);
                      } else {
                          navTemplateBottom = getTemplate("group-chat-nav-bottom-active", idSuffix);
                      }
                } else if(membership['status'] == 'left'){
                    navTemplateTop = getTemplate("group-chat-nav-top-left", idSuffix);
                    navTemplateBottom = getTemplate("group-chat-nav-bottom-inactive", idSuffix);
                } else {
                      navTemplateTop = getTemplate("group-chat-nav-top-inactive", idSuffix);
                      navTemplateBottom = getTemplate("group-chat-nav-bottom-inactive", idSuffix);
                }
            }
            navContainerTop.appendChild(navTemplateTop);
            navContainerBottom.appendChild(navTemplateBottom);
        }


        function setGroupTitle(group){
            idSuffix = group['room']['pk'];
            var title = document.getElementById("chat-title" + idSuffix)
            title.innerHTML = '';

            if (group['room']['type'] == 'group'){
                  title.appendChild(document.createTextNode('Group: '));
            } else {
                  title.appendChild(document.createTextNode('Private: '));
            }

            for (var member of group['members']) {
                if (member['membership']['status'] != 'left'){
                  if (member['name'] != '{{ user.username}}'){
                  title.appendChild(document.createTextNode(member['name']));
                  }
                }
            }
        }


        function setAdminPanel(group){
            setGroupInviteContacts(group);
            setGroupRemoveContacts(group);
            setGroupInviteAdmin(group);
            setGroupRemoveAdmin(group);
        }

        function setGroupInviteAdmin(group){
          idSuffix = group['room']['pk']
          listContainer = document.getElementById("add-admin-content-list" + idSuffix).innerHTML = '';
          listContainer = document.getElementById("add-admin-content-list" + idSuffix)
          for (var member of group['members']) {
            if (member['membership']['role'] != 'admin' && member['membership']['status'] != 'left'){
              itemTemplate = getTemplate("add-admin-content-item", member['name']);
              listContainer.appendChild(itemTemplate);
              document.getElementById("add-admin-content-username" + member['name']).innerHTML = member['name']
              }
          }
        }
        function setGroupRemoveAdmin(group){
          idSuffix = group['room']['pk']
          listContainer = document.getElementById("remove-admin-content-list" + idSuffix).innerHTML = '';
          listContainer = document.getElementById("remove-admin-content-list" + idSuffix)
          for (var member of group['members']) {
            if (member['membership']['role'] == 'admin'){
              itemTemplate = getTemplate("remove-admin-content-item", member['name']);
              listContainer.appendChild(itemTemplate);
              document.getElementById("remove-admin-content-username" + member['name']).innerHTML = member['name']
              }
          }
        }

        function setGroupRemoveContacts(group){
            idSuffix = group['room']['pk']
            listContainer = document.getElementById("remove-content-list" + idSuffix).innerHTML = '';
            listContainer = document.getElementById("remove-content-list" + idSuffix)
            console.log(group['members'])
            for (var member of group['members']) {
              if (member['membership']['status'] != 'left'){
              itemTemplate = getTemplate("remove-content-item", member['name']);
              listContainer.appendChild(itemTemplate);
              document.getElementById("remove-content-username" + member['name']).innerHTML = member['name']
            }
            }
          }



        function setGroupInviteContacts(group){
            membership = getMembership(group)
            console.log('set invitable contacts')
            if (membership['status'] == 'active'){
            idSuffix = group['room']['pk']
            listContainer = document.getElementById("invite-content-list" + idSuffix).innerHTML = '';

            listContainer = document.getElementById("invite-content-list" + idSuffix)
            groupMembers = group['members']

            available_contacts = []

            for (var contact of contacts) {
                found = 'false';
                for (var groupMember of groupMembers) {
                    if (groupMember['name'] == contact['name']){
                        console.log(groupMember['membership']['status'])
                        if(groupMember['membership']['status'] == 'active' || groupMember['membership']['status'] == 'inactive' || groupMember['membership']['status'] == 'blocked'  || groupMember['membership']['status'] == 'blocked_and_deleted' || groupMember['membership']['status'] == 'deleted'){
                          found = 'true';
                          break;
                        }

                    }
                } if (found == 'false'){
                    available_contacts.push(contact)
                    itemTemplate = getTemplate("invite-content-item", contact['name']);
                    listContainer.appendChild(itemTemplate);
                    document.getElementById("invite-content-username" + contact['name']).innerHTML = contact['name']
                }
            }
                }
        }


        function addMessage(pk, message){
        //  console.log(message)
            var list = document.getElementById("chat-log-list"+ pk)
            var li = document.createElement("li");
            li.appendChild(document.createTextNode(message['message']));
            list.appendChild(li);

            var container = document.getElementById("chat-log-container" + pk);
            container.scrollTop = container.scrollHeight;

        }


        function getTemplate(templateId, idSuffix){

          var node = document.getElementById(templateId).cloneNode(true);
          node.id = templateId + idSuffix;

          var tags = ["div","ul","input","li","p", "button"];
          for (let i = 0; i < tags.length; i++) {
            var list = node.getElementsByTagName(tags[i]);
            for (let item of list) {
              if (item.id.length != 0){
                  item.id = item.id + idSuffix
              };
            };
          };

          return node;

        };

        function search(self){
            searchTerm = document.getElementById('search-input').value;
            socket.send(JSON.stringify({
                'type': 'search', 'message': searchTerm, 'from': '{{ user}}', 'to':''
            }));
        }


    </script>

    <div class="container-fluid" id='main-container'>
      <div class="row">
      <div class="col-4" id='left' style="background-color: red">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home" data-second-tab="#home1">Home</a>
            </li>
            <li><a data-toggle="tab" href="#menu1" data-second-tab="#menu11">Menu 1</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                 <h3>HOME</h3>

                <p>Some content.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
                 <h3>Menu 1</h3>

                <p>Some content in menu 1.</p>
            </div>
        </div>
        <hr />
        <div class="tab-content">
            <div id="home1" class="tab-pane fade in active">
                 <h3>HOME</h3>

                <p>Some content.</p>
            </div>
            <div id="menu11" class="tab-pane fade">
                 <h3>Menu 1</h3>

                <p>Some content in menu 1.</p>
            </div>
        </div>

      </div>


      <div class="col-8" id="right" style="background-color: purple">

        <div class="tab-content" id="myGroups">
          <div class="tab-pane fade show active" id="group1" role="tabpanel" aria-labelledby="group-tab1">...</div>
          <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">...</div>
          <div class="tab-pane fade" id="group684" role="tabpanel" aria-labelledby="group-tab684">...</div>
        </div>





        <h2>Contacts</h2>
        <div id="contacts-content-container">
            <ul id="contacts-content-list"></ul>
            {% for contact in contacts %}
              <script>
                addContactToList('{{ contact.name }}')
                contacts.push({{ contact|safe }});
              </script>
            {% endfor %}
        </div>

        <h2>Create group chat</h2>
        <div id="group-content-container">
          <ul id="group-content-list"></ul>
          {% for contact in contacts %}
            <script>
              addContactToGroup('{{ contact.name }}')
            </script>
          {% endfor %}
        <input id="group-submit" type="button" value="Create group chat" onclick="newGroup(self, 'group')">
        </div>


        <input id="search-input" type="text"><br>
        <input id="search-submit" type="button" value="search" onclick="search()">
        <div id="search-content-container" type="text">
          <ul id="search-content-list"></ul>
        </div>





            <h1> {{ user }}</h1>
            <h2 id="online_contacts"></h2>

            <div id="chat-content-container">
              {% for value in groups %}
              {% for member in value.members %}


                {% if member.name == user.username %}
                  {% if member.membership.status  == 'active' or member.membership.status  == 'blocked' or member.membership.status  == 'left' %}

                  <script>
                    addGroup({{ value|safe }});
                  </script>
                  {% endif %}
                {% endif %}

              {% endfor %}

              {% endfor %}
            </div>









      </div>
      </div>
    </div>












  </body>
</html>
