
<div id="checkbox-basic" class="list-group-item rounded-0" style='background-color: #eeeeee'>
  <input class="group-input form-check-input me-1 checkbox" type="checkbox" style="float:left">
  <div class="body"></div>
</div>

<div id="button-basic" class="list-group-item" style='background-color: #eeeeee'>
  <div class="body"></div>
</div>

<div id="container-justify-between">
  <div class="body d-flex justify-content-between"></div>
</div>

<div id="container-left">
  <div class="body d-flex align-items-center"></div>
</div>

<div id="container-center">
  <div class="body d-flex justify-content-center"></div>
</div>

<div id="container-float-right">
  <div class="body" style="float:right;"></div>
</div>

<div id="username">
</div>

<div id="seen">
</div>

<div id="empty-container">
  <div class="body"></div>
</div>

<div id="text-field">
  <div class="body"></div>
</div>


<button id="options2" class="m-1 btn btn-white border border-1 options%" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">...</button>






<!-- header options -->
<div id="options-body2" class="d-flex justify-content-end border-1"  style="position: fixed; z-index: 4; width: 180px; top:103px; right: 16px; " onclick="stopProp(event)">
  <div class="collapse sub" id="collapseExample">
      <div class="d-flex justify-content-end">
          <div class="card card-body p-0" style=" background-color: #eeeeee; max-height: calc(100vh - 65px); overflow:auto;">
              <div id="chat-nav-container-top"></div>
              <div class="body"></div>
          </div>
      </div>
    </div>
</div>
<!-- end header options -->
<!-- menu admin -->



<div id="submit-selected" class="border border-1" type="button" style="width: 100%; background-color: #eeeeee">
<div class="body"></div>
</div>

<div id="spinner" class="spinner-border spinner-border-sm" role="status" style="position:absolute"></div>



<label id="checkbox-content-item" class="list-group-item rounded-0 checkboxItem%%%" style='background-color: #eeeeee'>
  <input id="remove-content-username-select" class="remove-admin-input group-input form-check-input me-1 checkbox%%" type="checkbox" style="float:left">
  <div id="checkbox-content-username" class="value%"></div>
</label>

<label id="checkbox-createGroup" class="list-group-item rounded-0 checkboxItem%%%" style='background-color: #eeeeee'>
  <input id="remove-content-username-select" class="remove-admin-input group-input form-check-input me-1 checkbox%%" type="checkbox" style="float:left">
  <div class="d-flex justify-content-between">
    <div id="checkbox-content-username" class="value%"></div>
    <div class="lastSeen-hook%"></div>
  </div>
</label>


<!--  end menu admin  -->
